
  <span class="review-header">Customer Reviews</span><br>
  <a href="#"><%= product.reviews().length %> customer reviews</a><br>
  Average Rating: <%= product.averageStars() %> / 5.0<br><br><br>


  <form>
    <section class="stars-span">
      <label>
        Rating / Stars:
        <select name="review[stars]">
          <% for (var stars = 1; stars < 6; stars++) { %>
            <option value="<%= stars %>"><%= stars %></option>
          <% }; %>
        </select>
      </label>
    </section>
    <br>
    <input type="hidden" name="review[product_id]" value="<%= product.get("id") %>">
    <input type="hidden" name="review[user_name]" value="<%= AmazonCloneZone.currentUser.name() %>">
    <input class="ask-question-input" type="text" name="review[title]" placeholder="Review Title">
    <br><br>
    <!-- <textarea name="review[body]" placeholder="Review Content / Body!"></textarea> -->
    <input class="answer-question-input" type="text" name="review[body]" placeholder="Review Content / Body!">
    <button class="answer-question-button">Submit Review</button>
  </form>
  <br><br>

  <% product.reviews().each(function (li) { %>
    <li>
      <strong>Rating:</strong> <%= li.escape("stars") %> / 5 |
      <strong><%= li.escape("title") %><br></strong>
      By: <%= li.escape("user_name") %> on <%= li.escape("created_at") %><br><br>
      <%= li.escape("body") %>
    </li>
    <%= "<br><br><br><br>" %>
  <% }); %>

</section>
