<% session[:url_memory] = cart_url  %>
<section class="cart">
  <section class="shopping-cart-items group">
    <h2>Shopping Cart # <%= @cart.id %></h2>
    <section class="checkout">
      <h3>Subtotal (<%= pluralize(@cart.num_items, 'item') %>): $<%= number_with_delimiter(@cart.subtotal, :delimiter => ',') %></h3>
      <a href="<%= checkout_url %>"><p class="cart-button">Proceed to checkout</p></a>

    </section>

    <section class="items">
      <table>
        <tr>
          <th class="cart-name-col"></th>
          <th class="cart-price-col">Price</th>
          <th class="cart-qty-col">Quantity</th>
        </tr>

        <% @cart.items.each do |item| %>
          <tr class="table-row-cart-item">
            <td>
              <section class="cart-row group">
                <a href="<%= product_url(item.product_id) %>">
                  <section class="cart-image-holder group">
                  <img src="<%= item.product.images.first.try(:url) %>" class="image">
                  </section>
                </a>
                <section class="cart-content">
                  <a class="generic-link" href="<%= product_url(item.product_id) %>"><strong><%= item.product.name %></a></strong> by <%= item.product.brand.name %><br>
                  In Stock<br>
                  FREE Shipping<br>
                  <form action="<%= carted_item_url(item.id) %>" method="post">
                    <%= form_auth_token %>
                    <input type="hidden" name="_method" value="delete">
                    <button>Delete</button>
                  </form>
                </section>
              </section>
            </td>

            <td class="price">$<%= item.product.price %></td>
            <td class="qty"><%= item.quantity %></td>
          </tr>

        <% end %>
      </table><br>

      <section class="subtotal">
          Subtotal (<%= pluralize(@cart.num_items, 'item') %>): $<%= number_with_delimiter(@cart.subtotal, :delimiter => ',') %>
      </section>
    </section>

  </section>

</section>
