<h1>Shopping Cart</h1>
<h2>Cart.id = <%= @cart.id %></h2>
<ul>
  <% @cart.items.each do |item| %>
    <a href="<%= product_url(item.product_id) %>"><li>Item: <%= item.product.name %> Price: <%= item.product.sales_price %> Quantity: <%= item.quantity %></li></a>
  <% end %>
</ul>
