  <section id="product-reviews">
    <span class="review-header">Customer Reviews</span><br>
    <a href="#"><%= product.reviews().length %> customer reviews</a><br>
    Average Rating: <%= product.averageStars() %> / 5.0<br><br><br>


    <form>
      <input type="hidden" name="review[product_id]" value="<%= product.get("id") %>">
      <input type="hidden" name="review[user_name]" value="<%= AmazonCloneZone.currentUser.name() %>">
      <input type="text" name="review[title]" placeholder="Review Title">
      <br>
      <label>
        Stars:
        <select name="review[stars]">
          <% for (var stars = 1; stars < 6; stars++) { %>
            <option value="<%= stars %>"><%= stars %></option>
          <% }; %>
        </select>
      </label>
      <br>
      <textarea name="review[body]" placeholder="Review Content / Body!"></textarea>
      <br>
      <button class="test">Submit Review</button>
    </form>
    <br><br>

    <% product.reviews().each(function (li) { %>
      <li>
        <strong>Rating:</strong> <%= li.escape("stars") %> / 5 |
        <strong><%= li.escape("title") %><br></strong>
        By: <%= li.escape("user_name") %> on <%= li.escape("created_at") %><br><br>
        <%= li.escape("body") %>
      </li>
      <%= "<br><br><br><br>" %>
    <% }); %>

  </section>
</section>
