<h2><strong>Customer Questions &amp Answers</strong></h2>

<section class="ask-question-form-section">
  <span class="flash-errors"></span>
  <form class="ask-question-form">
    <input class="ask-question-input" type="text" name="question[body]" placeholder="Have a question? Ask the owners here.">
    <input type="hidden" name="question[product_id]" value="<%= product.id %>">
    <button class="ask-question-button">Ask</button>
  </form>
</section>

<ul>
  <% product.questions().each(function (q) { %>
    <li>
      <section class="group">
        <span class="answer-sym">Q:</span>
        <span class="answers">
          <span id="<%= q.id %>" class="question"><%= q.escape("body") %></span><br>
        </span>
      </section>

      <section id="answer-form-<%= q.id %>"></section>

      <section class="group">
      <% q.answers().each(function (a) { %>
        <span class="answer-sym">A:</span>

        <span class="answers">
          <%= a.escape("body") %><br>
          <span class="ask-author-and-date">
            <%= a.escape("user_name") %> answered on <%= a.creationDate() %><br><br>
          </span>
        </span>
      <% }) %>

      </section>
    </li><br>
  <% }) %>
</ul>
