<section class="carousel-content">
  <a href="<%= product_url(5) %>"><img class="logo" src="/assets/carousel_image.jpg"></a>
</section>

<section class="content group">
  <section class="main">

    <section class="carousel-product-feed-1">
      <h1>Suggested Products</h1>
      <ul>
        <% @products.each do |product| %>
          <a href="<%= product_url(product) %>">
            <li>
              <%= product.name %>
              <!--
              <% if product.sales_price.to_s[-2] == "." %>
                $<%= product.sales_price %>0
              <% else %>
                $<%= product.sales_price %>
              <% end %>
             -->
            </li>
          </a>
        <% end %>
      </ul>
    </section>

    <section class="carousel-product-feed-1">
      <h1>Best Sellers</h1>
      <ul>
        <% @products.each do |product| %>
          <a href="<%= product_url(product) %>">
            <li>
              <%= product.name %>
              <!--
              <% if product.sales_price.to_s[-2] == "." %>
                $<%= product.sales_price %>0
              <% else %>
                $<%= product.sales_price %>
              <% end %>
             -->
            </li>
          </a>
        <% end %>
      </ul>
    </section>

  </section>

  <section class="sidebar">
    <h1>Top Brands</h1>
    <ul>
      <% Brand.all.shuffle.each do |brand| %>
        <a href="<%= product_url(brand.products.first) %>">
          <li>
            <%= brand.name %>
          </li>
        </a>
      <% end %>
    </ul>
  </section>
</section>
