<h1>Products Show Page</h1>

<div class="product-image">
  <p>Product Image Goes Here</p>
  <% @product.images.each do |image| %>
    <img src="<%= image.url %>">
  <% end %>
</div>

<div class="product-description">
  <p>Product Description Goes Here</p>
  <% @product.descriptions.each do |li| %>
    <li><%= li.body %></li>
  <% end %>

</div>

<div class="add-to-cart-form">
  <p>Add To Cart Form Goes Here</p>
</div>

<div class="product-details">
  <p>Product Details Go Here</p>
  <% @product.specifications.each do |li| %>
    <li><%= li.title.titleize %>: <%= li.body %></li>
  <% end %>

</div>

<div class="quick-promo">
  <p>Quick Promo Goes Here</p>
</div>

<div class="questions-answers">
  <p>Q and A Goes Here</p>
  <% @product.questions.each do |q| %>
    <li>
      <%= q.body %><br>
      <% q.answers.each do |a| %>
        A: <%= a.body %>
        <%= a.user.name %> answered on <%= a.created_at %><br>
      <% end %>
    </li><br>
  <% end %>

</div>

<div class="product-reviews">
  <p>Product Reviews Go Here</p>
  <% @product.reviews.each do |li| %>
    <li><br>
      Stars: <%= li.stars %><br>
      Title: <%= li.title %><br>
      By: <%= li.user.name %><br>
      Review:<br> <%= li.body %>
    </li>
    <br>
  <% end %>

</div>

<div class="recently-viewed-items">
  <p>Recently Viewed Items Go Here</p>
</div>
