<!DOCTYPE html>
<html>
<head>
  <title>Amazon Clone Zone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- HEADER NAVIGATION GOES HERE -->
  <div class="navigation-header">
    <!-- | current_user: <%= current_user %> | signed_in?: <%= signed_in? %> |<br><br> -->
    <a href="<%= root_url %>">Home</a>
    <% if signed_in? %>
      Signed in as: <%= current_user.name.titleize %>
      <form action="<%= session_url %>" method="post">
        <%= form_auth_token %>
        <input type="hidden" name="_method" value="delete">
        <button>Not <%= current_user.name.titleize %>? Sign Out</button>
      </form>
    <% else %>
      <a href="<%= new_session_url %>">Sign In</a>
      <a href="<%= new_user_url %>">Sign Up</a>
      <a href="<%= cart_url %>">Shopping Cart</a>
    <% end %>
    <br>
    <a href="<%= root_url %>"><img src="/assets/amazon_clone_zone_logo.png"></a>
  </div>

  <!-- VIEW TEMPLATE RENDERS HERE -->
  <%= yield %>

  <!-- NAVIGATION FOOTER GOES HERE -->
  <div class="navigation-footer">
    <p>Navigation footer goes here.</p>
  </div>

</body>
</html>
